@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --black-color: #000000;
  --first-font: 'Roboto', sans-serif;
}

html {
  font-size: 16px;
  font-family: var(--first-font)
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.miniatura {
  height: 720px;
  width: 1280px;
  background-color: white;
  border: 1px solid var(--black-color);
} 

.miniatura > .left-img-container {
  background-image: url(/images/ep1.png);
  height: 720px;
  width: 833px;
  transform: scaleX(-1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -20% 50%;
  clip-path: polygon(1280px 0px, 520px 1280px, 675px 1280px, 15px 0px);
}

.miniatura > .diagonal {
  border-bottom: 10px solid #FF7A00;
  width: 64%;
  transform: rotate(-63deg);
  transform-origin: right;
  position: relative;
  bottom: 728px;
}

.miniatura .right-img-container {
  background-image: url(/images/html-logo.webp);
  height: 720px;
  width: 857px;
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: left;
  position: relative;
  left: 650px;
  bottom: 730px;;
  /* clip-path: polygon(1280px 450px, 0px 1280px, 32px 722px, 855px -887px); */
}

.miniatura .texto {
  font-size: 5rem;
  text-transform: uppercase;
  position: relative;
  bottom: 1430px;
  left: 50px;
  color: white;
  text-shadow: 3px 0 0 var(--black-color), -3px 0 0 var(--black-color), 0 3px var(--black-color), 0 -3px 0 var(--black-color), 3px 3px 3px var(--black-color); 
}

.miniatura .texto > span {
  font-size: 4.3rem;
}